  <!--add comment-->
<div class="pt-2">
  <form id="post-comment" class="d-inline ">
    <div class="input-group mb-2 mr-sm-2 mt-7" >
      <div class="input-group-prepend">
        <div class="input-group-text" style="background:#6379873d;border:none ">
             <img src="https://www.featurepics.com/StockImage/20070720/girl-child-thinking-stock-photo-385861.jpg"
          class="img-rounded p-0" alt="Cinque Terre" width="30" height="30">
        </div>
      </div>
      <input type="text" id="comment" class="form-control" 
      style="height:2.8rem !important;background:#6379873d ;color:rgb(216, 215, 215) ; border:none;"  placeholder="add your comment">
      
      <button type="submit"  class="btn border-left-0" style="background:#3AD89B;color:white;"
       id="send_comment"
      data-postId='<%=post_id%>'>Send</button>
      </div>
  </form>
</div>