
<div class="container-fluid profile_div">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6">
        <div >
          <div class="container">
            <div class="row">
                
              <!-- *******change password******* -->
              <div class=" form">
                <form class="form1">
                  <h3 class="login-heading1 mb-4">Change Password!!</h3>

                  <div class="style">
                    <span>Current Password</span>
                    <input type="password" class="test" id="oldPassword" placeholder="enter current password" required autofocus>
                  </div>
                  <br><br>
                  <div class="style">
                    <span>New Password</span>
                    <input type="password" class="test" id="profile_password" placeholder="enter new password" required autofocus  minlength="8">
                  </div>
                  <br><br>
                  <div class="style">
                    <span>Confirm new Password</span>
                    <input type="password" class="test" id="confirmPassword" placeholder="enter confirm New password" required autofocus  minlength="8">
                  </div>

                  
                </form>

                <div class="alert alert-danger fade show" style="display: none;" id="create_user_error">
                  <h4 class="alert-heading">Error!</h4> <span id="create_user_error_message"></span>
              </div>
                <button class="user-inprofile-info-Button" type="button" id="save_button">Save</button>
                  
                <button class="user-inprofile-info-Button" type="button" href="/" id="cancel_button">cancel</button>

              </div>


            </div>
          </div>
        </div>
      </div>
</div>

<%- include('footer', { javascript_uri: '/javascripts/edit_password.js' }); %>